{% extends "layouts.html" %}

{% block title %}
    Amount
{% endblock %}

{% block main %}

    <style>
    .column {
      float: left;
      width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>

    <form action="/future" method="post">
        <div class="form-group">
        <h5><p>Update current positions</p></h5>
        <p>Click update to generate new file for detecting potential collisions. This could take up to 1 min.</p>
        </div>
        <br><button class="btn btn-primary" type="submit" align="center">Update</button></br>

    </form></div>
{% endblock %}