{% extends "layouts.html" %}

{% block title %}
    Distances
{% endblock %}

{% block main %}
        <main class="container p-5">
    <table class="table table-striped">
        <thead align=left>
            <tr>
                <th scope="col">Debris 1</th>
                <th scope="col">Debris 2</th>
                <th scope="col">Distance</th>
            </tr>
        </thead>


        <tbody align=left>
            {% for i in range(amount) %}
            <tr>
                <td>
                    {% if nearest['deb1'][i] %}
                        <p>{{nearest['deb1'][i]}}</p>
                        <p>{{nearest['tle1'][i]}}</p>
                        <p>{{nearest['tle2'][i]}}</p>
                    {% endif %}
                </td>
                <td>
                    {% if nearest['deb2'][i] %}
                        <p>{{nearest['deb2'][i]}}</p>
                        <p>{{nearest['tle3'][i]}}</p>
                        <p>{{nearest['tle4'][i]}}</p>
                    {% endif %}
                </td>
                <td>
                    {% if nearest['distance'][i] %}
                        <p>{{nearest['distance'][i]}} km</p>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>
        </main>
    <footer class="text-center text-muted">
        <a href="/form">Return</a>
    </footer>
{% endblock %}