{% extends "layouts.html" %}

{% block title %}
    Data
{% endblock %}

{% block main %}
        <main class="container p-5">
        <p>Last time update: {{dt}}</p>
        <p>Refresh page to update.</p>
    <table class="table table-striped">
        <thead align=left>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Elevation</th>
            </tr>
        </thead>


        <tbody align=left>
            {% for i in range(0, cantidad) %}
            <tr>
                <td>
                    {% if debris['name'][i] %}
                        <p>{{debris['name'][i]}}</p>
                        <p>{{debris['tle1'][i]}}</p>
                        <p>{{debris['tle2'][i]}}</p>
                    {% endif %}
                </td>
                <td>
                    {% if debris['lat'][i] %}
                        <p>{{debris['lat'][i]}}°</p>
                    {% endif %}
                </td>
                <td>
                    {% if debris['long'][i] %}
                        <p>{{debris['long'][i]}}°</p>
                    {% endif %}
                </td>
                <td>
                    {% if debris['elev'][i] %}
                        <p>{{debris['elev'][i]}} km</p>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>
        </main>
    <footer class="text-center text-muted">
        <a href="/form">Return</a>
    </footer>
{% endblock %}